[Desktop Entry]
Version=1.0
Name=Artica
Exec=/home/ubuntu/arctica
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/ubuntu/arctica.jpeg
StartupNotify=true
